{
  // Use the AirBnB JS styleguide - https://github.com/airbnb/javascript
  "extends": "airbnb",
  // We use 'babel-eslint' mainly for React Native Classes
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
  },
  // We can add/overwrite custom rules here
  rules: {
    // React Native has JSX in JS files
    'react/jsx-filename-extension': ['error', { extensions: ['.js', '.jsx'] }],
    // React Native includes images via require('../images/example.png')
    'global-require': 'off',
    'comma-dangle': 'off',
    'no-use-before-define': 'off',
    'no-multi-assign': 'off',
    'arrow-body-style': 'off',
    'no-console': 'off',
    'react/prop-types': 'off',
    'import/prefer-default-export': 'off',
    'react/no-string-refs': 'off',
    'no-unneeded-ternary': 'off',
    'react/prefer-stateless-function': 'off',
    'class-methods-use-this': 'off',
    'react/jsx-no-comment-textnodes': 'off'
  },
}
